@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@source "../../index.html";
@source "../../menu.html";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-cream: #faf6f0;
    --color-charcoal: #2e2f2f;
    --color-sandy: #c08552;
    --color-creamier: #f5ebe1;
    --spacing: 1px;
}

@layer components {
    .active_lang_button {
        @apply border border-charcoal bg-sandy drop-shadow-lg rounded-full w-72 h-30 flex flex-row space-x-10 justify-center items-center;
    }

    .inactive_lang_button {
        @apply border border-charcoal drop-shadow-lg rounded-full w-72 h-30 flex flex-row space-x-10 justify-center items-center;
    }

    .charcoal_12 {
        @apply text-charcoal text-[12px] text-wrap ml-6 tracking-wide;
    }

    .charcoal_15 {
        @apply  text-charcoal text-[15px] text-wrap ml-6 tracking-wide;
    }

    .info_container {
        @apply bg-creamier rounded-md drop-shadow-lg w-348 pb-10 flex flex-col space-y-13;
    }

    .nav_bar_text {
        @apply text-charcoal text-[15px] text-wrap tracking-wide;
    }

    .active_nav_item {
        @apply border border-charcoal bg-sandy rounded-sm pl-10 pr-10 shrink-0
    }

    .inactive_nav_item {
        @apply border border-charcoal rounded-sm pl-10 pr-10 shrink-0
    }

    .list_item {
        @apply flex flex-row w-full justify-between gap-x-4
    }

    .item_name {
        @apply text-charcoal font-semibold text-[15px] tracking-wide text-wrap
    }

    .item_price {
       @apply text-sandy font-medium text-[15px] tracking-wide shrink-0 whitespace-nowrap
    }

    .list_line {
        @apply border-sandy w-full
    }

    .menu_header {
        @apply flex flex-row self-start space-x-10 ml-20
    }

    .header_text {
        @apply text-charcoal text-[20px] font-semibold tracking-wide
    }

    .header_icon {
        @apply w-20 h-20 mt-4
    }

    .list{
        @apply flex flex-col space-y-15 w-full px-20
    }
}
